.contact-form-container {
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2); /* Linear gradient orqa fon */
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1440px; /* Maksimal kenglik */
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around; /* Ikkita bo'limni yonma-yon joylashtirish */
    text-align: center;
  }
  
  .contact-form {
    display: flex;
justify-content: space-around;
    width: 100%;
  }
  
  .contact-form h3 {
    color: #333;
    font-size: 56px;
    text-align: left;
    width: 400px;
    margin-bottom: 20px;
  }
  label{
    text-align: left;
  }
  .contact-form label {
    display: block;
    margin: 10px 0;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    transition: border-color 0.3s ease;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #007bff;
    outline: none;
  }
  
  .submit-button {
    display: inline-flex;
    left: 0;
    background: linear-gradient(45deg, #FF6A00, #FFD500); /* To'q sariqdan sariqqa o'tuvchi gradient */
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
   
  @media (max-width: 1400px) {
     .contact-form{
      width: 100%;
      padding: 0 !important;
     }
     .contact-form-container{
      padding: 0;
     }
  }
  @media (max-width: 1400px) {
    .contact-form{
      width: 100%;
      flex-wrap: wrap;
    }
    .form{
      width: 90%;
    }
    .submit-button{
      margin-bottom: 30px;
    }
    .contact-title{
      width: 90% !important;
      font-size: 34px !important;
      margin: 0 auto !important;
    }
    .form-action{
      width: 90% !important;
    }
    .foother-list{
      padding-left: 0 !important;
      text-align: center;
      width: 100%;
      flex-wrap: wrap;
    }
    .foother-item-title{
      width: 300px;
      margin: 0 auto;
      height: 60px;
    }
    .foother-item{
      width: 100%;
    }
  }

